.filters {
  width: 250px;
  padding-right: 50px;
  box-sizing: border-box;

  &__filter {
    margin-bottom: 25px;
  }

  &__status-group {
    &-label {
      display: block;
    }
  }

  .text-input {
    width: 200px;
  }
}
